.textoTallas {
  background-color: rgba(240, 230, 140, 0.781);
  text-align: center;
  font-family: cursive;
  font-size: 1.5rem; }

/* reseteo */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.3fr 1fr 0.1fr;
  grid-template-areas: "header" "main" "footer";
  height: 100vh;
  width: 100%;
  background-color: white;
  font-family: "roboto"; }

header {
  grid-area: header;
  width: 100%;
  height: 120px; }
  header h1 {
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    font-weight: 1000;
    text-align: center; }
    header h1 a {
      text-decoration: none;
      color: goldenrod; }
      header h1 a:hover {
        color: white; }

.menuPrincipal ul li {
  font-family: "roboto";
  padding: 8px;
  font-size: 20px;
  font-weight: bolder; }
  .menuPrincipal ul li a {
    text-decoration: none; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #515151; }

main {
  grid-area: main;
  text-align: center; }

.ancho {
  width: 95%;
  border-radius: 50px; }

.borde {
  margin: 30px; }

.imagenPrincipal {
  font-size: 1.5rem; }
  .imagenPrincipal ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .imagenPrincipal ul li {
      padding: 20px;
      font-size: 1.4rem; }
      .imagenPrincipal ul li a {
        text-decoration: none;
        color: black; }
        .imagenPrincipal ul li a:hover {
          color: white; }

.imagenProductos {
  width: 500px;
  height: 400px;
  padding: 40px; }

.video iframe {
  width: 50%; }

.mainTallas {
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-size: 3rem; }

.descripcion {
  display: flex;
  flex-direction: column;
  padding: 15px; }
  .descripcion h2 {
    font-size: 2rem; }

header {
  z-index: 2; }

.accordion {
  width: 50%; }
  .accordion .accordion-body {
    background-color: rgba(240, 230, 140, 0.781); }

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white; }

label {
  display: flex;
  flex-direction: column; }

footer {
  grid-area: footer;
  text-align: center;
  background-color: goldenrod;
  margin-top: 12px; }

@media screen and (max-width: 768px) {
  .menuPrincipal {
    font-size: 1.2rem; }
  .imagenPrincipal ul {
    padding: 20px;
    line-height: 40px; }
    .imagenPrincipal ul li a {
      font-size: 2.0rem;
      color: black; } }

@media screen and (max-width: 500px) {
  #navbarSupportedContent {
    background-color: rgba(218, 165, 32, 0.884); }
    #navbarSupportedContent ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
  .imagenPrincipal ul {
    display: flex;
    flex-direction: column; }
  .video {
    display: none; }
  .mainTallas {
    display: flex;
    flex-direction: column; }
  .imagenTallas img {
    width: 100%; }
  .accordion {
    width: 90%; }
  .imagenProductos {
    width: 300px;
    height: 233px;
    padding: 40px; } }
