$estilos:(
    alineacion: center,
    color: rgb(252, 246, 189),
);





@mixin gridBase {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.3fr 1fr 0.1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
    width: 100%;
    font-family: $letraGeneral;  
}


