$letraTitulo: 'Dancing Script', cursive;
$letraGeneral:  'Dancing Script', cursive;
$colorTitulo:  goldenrod;
$hover: white;
$colorMenuPc: black;
$colorBody: lavender;
$colorMenuMovil: white;
$fondoMenuMovil: rgba(218, 165, 32, 0.884);