$letraTitulo: 'Dancing Script', cursive;
$letraGeneral:  'roboto';
$colorTitulo:  goldenrod;
$hover: white;
$colorMenuPc: black;
$colorBody: white;
$colorMenuMovil: black;
$fondoMenuMovil: rgba(218, 165, 32, 0.884);