.mainTallas {
    background-color: rgba(221, 160, 221, 0.568);
    border-radius: 7px;

    h2 {
        line-height: 2;
    }

    .descripcion {
        display: flex;
        flex-direction: column;
        padding: 15px;
        background-color: white;
        border-radius: 7px;
        margin-top: 12px;

        .textoTallas {
            font-family: $letraGeneral;
            font-size: 1.5rem;
            background-color: lavender;
            border-radius: 7px;
        }
    }
}