main {
    grid-area: main;
    text-align: center;
}



.ancho{
    width:95% ;
    border-radius: 50px;
}


.borde{
    margin: 30px;
}

.imagenPrincipal {
    
    font-size: 1.5rem;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        li{
            padding: 20px;
            font-size: 1.4rem;
            a {
                text-decoration: none;
                color:$colorMenuPc; 
                &:hover{
                    color: $hover;
                }
                
            }
        }
    }   
}

.imagenProductos {

    width: 500px;
    height: 400px;
    padding: 40px;
}


    
.video iframe {
    width: 50%;
}