@media screen and (max-width : 768px) {
    .preguntasF {
        display: none;
    }

    .mainContacto {
        background-position: 35%;
    }

}


@media screen and (max-width : 500px) {
    .imagenPrincipal {
        ul {
            display: flex;
            flex-direction: column;
            li {
                padding: 5px;
                text-align: center;
                margin-right: 30px;
            }
        }
    }

    .borde {
        margin-bottom: none;
        .ancho {
            width: 280px;
            height: 210px;
            border-radius: 25px;
        }
    }

    .video {
        display: none;
    }

    .mainTallas {
        display: flex;
        flex-direction: column;

        .imagenTallas img {
            width: 100%;
        }
    }

    .imagenProductos {
        width: 300px;
        height: 233px;
        padding: 40px;
    }

    .mainContacto {
        background-position: 40%;
    }
}