header{
    z-index: 2;
}

.accordion{
    width: 50%;
    .accordion-body {
        background-color: rgba(240, 230, 140, 0.781);
    }
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    
}
