.mainPreguntas{
    
    background-size: 610px 1240px;
    .accordion{
        .accordion-body {
        background-color: rgba(221, 160, 221, 0.568);
        }
    }
    .accordion-button:not(.collapsed) {
        color: $colorMenuPc;
        background-color: white;
    }
    .accordion-button {
        background-color: lavender;
    }
    .preguntasF{
        width: 400px;
        height: 500px; 
        border-radius: 10px;
    }
}


